colorcorrect
joblib
decorator
h5py
intervaltree
jsonschema
matplotlib
mygene
setuptools
numba
numpy
openslide-python
pandas
pathlib
Pillow
scikit-learn
scipy
seaborn
statsmodels
torch
torchvision
tqdm
wandb
einops